{% extends 'accueil.html.twig' %}

{% block title %}Diayante index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
        <tr>

            <th scope="col">montant</th>
            <th scope="col">date</th>
            <th scope="col">membre</th>
            <th scope="col">action1</th>
            <th scope="col">action2</th>
            <th scope="col">action3</th>
        </tr>
        </thead>
        <tbody>
        {% for diayante in diayantes %}
            <tr>
                <td>{{ diayante.montant }}</td>
                <td>{{ diayante.date ? diayante.date|date('Y-m-d ') : '' }}</td>
                <td>{{ diayante.membre.telephone }}</td>
                <td>

                    <a class="btn btn-primary" href="{{ path('diayante_edit', {'id': diayante.id}) }}">edit</a>

                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('diayante_show') }}">afficher</a>
                </td>
                <td>
                    {{ include('diayante/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{  knp_pagination_render(diayantes)}}
    </div><br>
{% endblock %}
